.ProductListCard {
  width: 100%;

  .ProductListCard-container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 41.7% 33.3%;
    grid-template-rows: 1fr;
    background-color: white;
    padding: 1.5rem 1rem;
    margin-bottom: 0.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  .ProductListCard-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.15);
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 1rem;
  }
}
.ProductListCard .col-img {
  img {
    width: 143px;
    aspect-ratio: 1;
  }
}

.ProductListCard .col-desc.col-desc {
  .title {
    font-size: 1rem;
    font-weight: 600;
    color: #454545;
    line-height: 22.5px;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  .desc {
    color: #555555;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
  }

  a {
    color: #e61d24;
    text-decoration: none;
    width: 100%;

    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;

      label {
        font-size: 0.8rem;
        line-height: 20px;
        color: #656565;
        white-space: nowrap;
      }
      span {
        color: #444343;

        max-width: 100% !important;
        font-size: 0.8rem;
        line-height: 20px;
      }
    }
  }
}
.ProductListCard .col-company.col-company {
  .company {
    font-style: italic;
    text-decoration: underline;
    font-size: 0.8rem;
    color: #5d6177;
  }
  ul {
    list-style: none;
    width: 100%;
    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      label {
        font-size: 0.875rem;
        line-height: 21px;
        color: #a5a9b7;
      }
      span {
        color: #444343;

        font-size: 0.875rem;
        line-height: 21px;
      }
    }
  }
  .btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;

    button {
      font-size: 12px;
      padding: 5px 16px;
      color: #fff;
      font-size: 14px;
      border-radius: 62px;
      background: var(--color-900);
      outline: none;
      border: none;
      padding: 5px 1rem;
      white-space: nowrap;
    }
  }
}
@media (max-width: 1000px) {
  .ProductListCard .ProductListCard-container {
  }
  .ProductListCard .col-desc.col-desc li {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    label,
    span {
      width: 100%;
    }
  }
  .ProductListCard .btn-wrapper {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 900px) {
  .ProductListCard .ProductListCard-container .col {
    padding: 0.2rem;
  }
  .ProductListCard .col-desc.col-desc li {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    label,
    span {
      width: 100%;
    }
  }
}
@media (max-width: 750px) {
  .product-list-wrapper {
    width: 100% !important;
  }
  .ProductListCard .ProductListCard-container {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: unset;
  }
  .ProductListCard .ProductListCard-container .col-desc.col-desc ul {
    display: none;
  }
  .ProductListCard .ProductListCard-container .col-company.col-company ul,
  .ProductListCard
    .ProductListCard-container
    .col-company.col-company
    .company {
    display: none;
  }
  .ProductListCard .btn-wrapper {
    flex-direction: row;
    gap: 1rem;
  }
}
