.ProductList {
  width: 100%;
  background-color: #f2f2f2;
  padding-block: 2rem;

  .ProductList-container {
    max-width: 1140px;
    margin-inline: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.ProductList .product-list-wrapper {
  width: 75%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #d4d4d4 1px solid;
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;

    .text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;
      direction: ltr;

      p {
        font-size: 1.125rem;
        font-weight: 500;
        color: #5d6177;
      }
      span {
        color: var(--color-500);
        font-size: 1.125rem;
        font-weight: 500;
      }
    }
    .num {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        color: #e61d25;
        font-size: 1.125rem;
        font-weight: 500;
      }
      p {
        font-size: 1.125rem;
        font-weight: 500;
        color: #5d6177;
      }
    }
    .red-line {
      position: absolute;
      background-color:var(--color-500);
      width: 70px;
      height: 3px;
      right: 0;
      bottom: -2px;
    }
  }
  .product-card-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.ProductList .product-filter-wrapper {
  width: 25%;
}
