.Hero {
  width: 100%;
  height: 100vh;
  min-height: 860px;
  .Hero-container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 10%;
  }

  .fa-title {
    color: var(--font-color-gold);
    font-size: 40px;
    font-weight: 400;
  }
  .en-title {
    color: var(--font-color-gold);
    font-size: 64px;
    font-weight: 400;
  }
}
