.header {
  // background-image: linear-gradient(
  //   to left top,
  //   #ad1e22,
  //   #b81f24,
  //   #c42027,
  //   #cf2029,
  //   #db212c,
  //   #db212c,
  //   #db212c,
  //   #db212c,
  //   #cf2029,
  //   #c42027,
  //   #b81f24,
  //   #ad1e22
  // );
  background-color: #fff;
  padding: 0 12px;
  position: relative;
  .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -42px;
    z-index: 2;
    width: 240px;
    height: 170px;
  }
  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-inline: 12px;
    

    .left-items {
      display: flex;
      .contact-us {
        background-color:rgba(205, 137, 69, 1);
        width: 35px;
        height: 35px;
        border-radius: 50px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center !important;
        &__icon {
          font-size: 20px;
          color: #fff;
        }
      }
      .notification {
        display: inline-flex;
        background-color:rgba(205, 137, 69, 1);
        width: 40px;
        height: 40px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        align-self: center;
        &__counter {
          width: 22px;
          height: 19px;
          position: absolute;
          top: -4px;
          right: -11px;
          background-color: #fff;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #cf2029;
          font-size: 12px;
          font-weight: bolder;
        }
        &__icon {
          width: 20px;
        }
      }
    }
  }

  .public-btn {
    font-size: 11px;
    background-color: rgba(205, 137, 69, 1);
    ;
    color: #fff;
    transition: all 150ms ease;
    border-radius: 8px;
    height: 40px;
    border: none !important;
    display: flex;
    justify-content: center;
  }

  .login {
    margin-right: 3px;
    width: 80px;
    margin-left: 10px;
  }

  .user-name {
    width: 90px;
    align-items: center;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    padding: 0;
    .user-name {
      margin-right: 8px !important;
    }
    .notification {
      width: 36px !important;
      height: 38px !important;
      align-self: center;
      border-radius: 100% !important;
      &__icon {
        width: 18px !important;
      }
    }
    .contact-us {
      &__icon {
        font-size: 17px !important;
      }
    }
  }
}
.wrapper-user-info {
  width: 500px;
  //height: 510px;
  .profile {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: inherit;
    position: relative;
    .close {
      position: absolute;
      left: 14px;
      top: 10px;
    }
    .holder-element {
      display: flex;
      flex-direction: column;
      .label {
        color: #000000;
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 10px;
        padding-right: 5px;
      }
      input {
        background-color: #e0e0e0;
        color: #000;
        height: 20px;
      }

      textarea {
        background-color: #e0e0e0;
        color: #000;
        resize: unset;
      }
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
    .action {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      .btn {
        color: #fff;
        border-radius: 6px;
        height: 45px;
        width: 100%;
        font-family: "IRANSansX";
        font-size: 15px;
        font-weight: 700;
        margin-right: 0;
      }
      .change-password {
        background-color: #111b5c;
        margin-top: 5px;
        &:hover {
          background-color: #111b5c;
        }
      }
      .logout {
        background-color: #bb9531;
        &:hover {
          background-color: #bb9531;
        }
      }
      .updatePassword {
        background-color: #111b5c;
        &:hover {
          background-color: #111b5c;
        }
      }
    }
  }
}

//notifications
.wrapper-user-notifications {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
  .no-notifications {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    width: 400px;
    border-radius: 6px;
    position: absolute;
    top: 35%;
    font-size: 19px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .wrapper-notifican-children {
    height: 360px;
    overflow-y: scroll;
    padding: 0 10px;
    .notifican-item {
      display: flex;
      background-color: #f5f5f5;
      border-radius: 4px;
      border: 1px solid #ccc;
      padding: 4px 6px;
      margin-bottom: 10px;
      position: relative;
      height: 50px;
      align-items: center;
      svg {
        font-size: 20px;
        color: #8b8b8b;
      }
      .notifi-image {
        max-width: 55px;
        max-height: 55px;
        width: 55px;
        height: 55px;
        object-fit: cover;
        border-radius: 50px;
        border: 1px solid #ccc;
        padding: 6px;
      }
      .notifi-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 10px;
        .notif-title {
          font-size: 14px;
          font-weight: 500;
        }
        .notif-abstract {
          font-size: 12px;
        }
      }
      .read-notification {
        position: absolute;
        left: 10px;
        top: 10px;
        color: #67be54;
      }
    }
  }
}

//notifications
.wrapper-last-news-dialog {
  width: 400px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .wrapper-user-info {
    width: 360px;
  }
  .wrapper-user-notifications {
    width: 320px;
    .no-notifications {
      width: 310px;
    }
  }
}
