.feature {
  width: 100%;
  background: linear-gradient(to right,#50556D,#69799b);
  color: #fff !important;
  margin: 20px 0 0;
  padding: 24px 0;
  text-align: center;

  .container {
    max-width: 1140px;
    margin-inline: auto;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: #ccc 1px solid;
      padding-inline:60px;
      gap: 0.5rem;

      i{
        font-size: 1.5rem;
      }

      p{
        font-size: 0.75rem;
        font-weight: 400;
      }
    }
    .NoBorderL{
      border:unset;
    }
  }
}
@media (max-width: 750px){
  .feature{
    display: none;
  }
}
