.CategoryLists {
  width: 100%;
  margin-block: 0.7rem 1rem;

  .CategoryLists-container {
    max-width: 1140px;
    padding: 30px 19px;
    border-radius: 10px;
    background: #f2f2f2;
  }
}
.CategoryLists .list-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  ul {
    width: calc(100% / 4);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
  }

  li {
    font-size: 0.8rem;
    font-weight: 500;
    color: #2e2e2e;
  }
  li:first-child {
    color:var(--color-500);
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 3px;
  }
}
