:root {
  font-family: vazir, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(127, 127, 127, 1);
  background-color: rgba(248, 252, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gold: rgba(205, 137, 69, 1);
  --color-white: white;
  --color-greyWhite: rgba(248, 252, 255, 1);

  --font-color-gold: rgba(205, 137, 69, 1);
  --font-color-grey: rgba(127, 127, 127, 1);
  --font-color-black: rgba(0, 0, 0, 1);
}
@font-face {
  font-family: number;
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/Vazir-Bold-FD-WOL.eot);
  src: url(/fonts/Vazir-Bold-FD-WOL.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Vazir-Bold-FD-WOL.woff2) format("woff2"),
    url(/fonts/Vazir-Bold-FD-WOL.woff) format("woff"),
    url(/fonts/Vazir-Bold-FD-WOL.ttf) format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Vazir-Regular.eot);
  src: url(/fonts/Vazir-Regular.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Vazir-Regular.woff2) format("woff2"),
    url(/fonts/Vazir-Regular.woff) format("woff"),
    url(/fonts/Vazir-Regular.ttf) format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Vazir-Bold.eot);
  src: url(/fonts/Vazir-Bold.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Vazir-Bold.woff2) format("woff2"),
    url(/fonts/Vazir-Bold.woff) format("woff"),
    url(/fonts/Vazir-Bold.ttf) format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/Vazir-Black.eot);
  src: url(/fonts/Vazir-Black.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Vazir-Black.woff2) format("woff2"),
    url(/fonts/Vazir-Black.woff) format("woff"),
    url(/fonts/Vazir-Black.ttf) format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Vazir-Medium.eot);
  src: url(/fonts/Vazir-Medium.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Vazir-Medium.woff2) format("woff2"),
    url(/fonts/Vazir-Medium.woff) format("woff"),
    url(/fonts/Vazir-Medium.ttf) format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Vazir-Light.eot);
  src: url(/fonts/Vazir-Light.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Vazir-Light.woff2) format("woff2"),
    url(/fonts/Vazir-Light.woff) format("woff"),
    url(/fonts/Vazir-Light.ttf) format("truetype");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/Vazir-Thin.eot);
  src: url(/fonts/Vazir-Thin.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Vazir-Thin.woff2) format("woff2"),
    url(/fonts/Vazir-Thin.woff) format("woff"),
    url(/fonts/Vazir-Thin.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  outline: none;
  border: none;
}
body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-greyWhite);
}
#root {
  width: 100%;
  min-height: 100vh;
  direction: rtl;
  background-color: var(--color-greyWhite);
}
.main {
  background-color: var(--color-greyWhite);
}
