:root {
  font-family: Yekan Bakh, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(127, 127, 127, 1);
  background-color: rgba(248, 252, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gold: rgba(205, 137, 69, 1);
  --color-white: white;
  --color-greyWhite: rgba(248, 252, 255, 1);

  --font-color-gold: rgba(205, 137, 69, 1);
  --font-color-grey: rgba(127, 127, 127, 1);
  --font-color-black: rgba(0, 0, 0, 1);
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  src: url("/fonts/YekanBakh-Thin.woff") format("woff"),
    url("/fonts/YekanBakh-Thin.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url("/fonts/YekanBakh-Light.woff") format("woff"),
    url("/fonts/YekanBakh-Light.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url("/fonts/YekanBakh-Regular.woff") format("woff"),
    url("/fonts/YekanBakh-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url("/fonts/YekanBakh-SemiBold.woff") format("woff"),
    url("/fonts/YekanBakh-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  src: url("/fonts/YekanBakh-Black.woff") format("woff"),
    url("/fonts/YekanBakh-Black.woff2") format("woff2");
}
@font-face {
  font-family: Yekan Bakh;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url("/fonts/YekanBakh-Bold.woff") format("woff"),
    url("/fonts/YekanBakh-Bold.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  outline: none;
  border: none;
}
body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-greyWhite);
}
#root {
  width: 100%;
  min-height: 100vh;
  direction: rtl;
  background-color: var(--color-greyWhite);
}
.main {
  background-color: var(--color-greyWhite);
}
