
.header {
  width: 100%;
  position: sticky;
  top: 0;
  padding-block: 1.5rem;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 0px 20px 3px #e2e2e2;

  .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    .wrapper {
      max-width: calc(100% / 4);
      flex: 0 0 25%;
    }
    .logo-wrapper a {
      display: flex;
      width: 100%;

      img {
        width: 100%;
        max-width: 225px;
        max-height: 44px;
      }
    }
    .search-wrapper {
      max-width: 50%;
      flex: 0 0 50%;
      .search-box {
        width: 100%;
        border: #d2d2d2 1px solid;
        border-radius: 60px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
          padding: 15px 18px;
          border: 0;
          width: 68%;
          outline: 0;
        }
        select {
          background: 0 0;
          border: 0;
          position: relative;
          height: 49px;
          width: 21.5%;
          color: #6f6e6e;
        }
        button {
          min-width: 52px;
          background: #e61d25;
          color: #fff;
          border: 0;
          cursor: pointer;
          margin-right: auto;

          font-size: 20px;
          padding: 13px 17px 16px 15px;
          outline: 0 !important;
        }
      }
    }
    .ul-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;

      .ul-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        i {
          font-size: 18px;
          text-align: center;
          width: 35px;
          height: 35px;
          border: #ccc 1px solid;
          padding: 7px;
          border-radius: 100%;
          margin-left: 6px;
        }
        .p-wrapper{
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;

          p{
            min-width: 100%;
            font-size: 16px;
            color: #5d6177;
            line-height: 15px;
            text-align: justify;
            span{
              font-size: 11px;
            }
          }
        }
      }
      .ul-item:hover{
        
        i{
          color: red;
          border-color: red;
        }
        .auto-hover{
          color: red;
          cursor: pointer;
        }

      }
      .hover:hover{
        color: red;
        cursor: pointer;
      }
    }
  }
}
