.header {
  width: 100%;
  height: 75px;
  background-color: var(--color-gold);

  .header-container {
    width: 50%;
    padding-block: 0.5rem;
    padding-right: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo-wrapper {
    width: calc(100% / 3);
  }
}
