.footer {
  width: 100%;
  background-color: var(--color-white);
  margin-top: 2rem;

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin-inline: auto;
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.footer .wrapper .col .title {
  width: 100%;
  margin-block: 1rem;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: var(--font-color-gold);
}
.footer .wrapper .col .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.footer .wrapper .col .p-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  p {
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: var(--font-color-gold);
  }
}
.footer .copyright {
  width: 100%;
  border-top: 2px solid var(--color-gold);
  margin-top: 1rem;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--font-color-gold);
  }
}
