.BlogCatColum {
  width: 100%;
  height: 100%;

  .BlogCatColum-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}
.BlogCatColum a {
  width: 100%;
  padding:0.8rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eeeff1;
  border-radius: 1rem;
  cursor: pointer;
  gap: 0.5rem;

  i {
    width: 1.5rem !important;
    border-radius: 50%;
    aspect-ratio: 1;
  }
  p {
    color: #5f6379;
    font-size: 0.8rem;
  }
}
.BlogCatColum a:hover p {
  color: red;
}
